<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" async="false">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${currentdir}/Xyz.log"
      layout="${longdate} ${level:upperCase=true:padding=5} | ${message} ${exception:format=tostring}" />
    <target name="console" xsi:type="ColoredConsole"
      layout="${longdate} ${level:upperCase=true:padding=5} | ${message} ${exception:format=tostring}"
      useDefaultRowHighlightingRules="true" errorStream="true" detectConsoleAvailable="true" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="logfile" />
    <logger name="*" minLevel="Debug" writeTo="console" />
  </rules>
</nlog>
